* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: 0;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-width: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* está na horizontal */
    justify-content: space-around; /* está na vertical */
    flex-direction: column; /* inverte os eixos */
    width: 50%;
    min-height: 34rem;
}

.group { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.group:nth-child(1) /* seleciona os elementos filhos da classe */ {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}